.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin: 3% 0 4% 0;
}

.btn{
    background-color: #212529;
    border-radius: 5px;
    padding: 12px 14px;
    outline: none;
    margin-right: 1%;
    border: none;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}